/*NAVIGATION*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.close {
  background-image: url("../images/icon-close.svg");
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.hamburger {
  background-image: url("../images/icon-hamburger.svg");
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.hambu {
  display: none;
}

.back {
  background-color: hsl(207deg, 33%, 95%);
  width: 49%;
  height: 540px;
  border-bottom-left-radius: 80px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.container {
  max-width: 1505px;
  margin: 0 auto;
  padding: 0 40px;
}

.nav-logo {
  background-image: url("../images/logo.svg");
  min-width: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 42px;
}
.nav-block {
  display: flex;
}
.nav-block__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  gap: 53px;
}
.nav-block__list .list-item {
  letter-spacing: 0.5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}
.nav-block__list .list-item:hover {
  border-bottom: 1px solid black;
}
.nav-block__list .circle {
  background-color: rgba(159, 158, 158, 0.559);
  width: 8px;
  height: 8px;
  border-radius: 20px;
  cursor: auto;
}
.nav-block__list .circle:hover {
  border-bottom: none;
}
.nav-block__list .login {
  color: rgba(128, 128, 128, 0.825);
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}
.nav-block__list .login:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.825);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0px;
}

/*HEADER*/
.main {
  background-image: url("../images/illustration-devices.svg");
  background-repeat: no-repeat;
  background-position: 51.8vw bottom;
  background-size: auto 90%;
  margin-bottom: 50px;
}
.main-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 140px 0px 51px 0px;
}
.main-inner__text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}
.main-inner__text .title-black {
  background-color: black;
  color: white;
  padding: 4px 15px;
  border-radius: 21px;
  font-weight: 700;
  font-size: 19px;
}
.main-inner__text .title {
  letter-spacing: 5px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.536);
}
.main-inner__powerful {
  font-size: 55.5px;
  margin-top: 21px;
}
.main-inner__powerful .powerful-title {
  line-height: 5rem;
}
.main-inner__paragraph {
  font-size: 23.5px;
  font-family: "Barlow", sans-serif;
  width: 360px;
  margin-top: 44px;
  color: rgba(0, 0, 0, 0.641);
  line-height: 2.1rem;
}
.main-inner__button {
  display: flex;
  align-items: center;
  margin-top: 85px;
  gap: 35px;
}
.main-inner__button .button-block {
  background-color: hsl(0deg, 100%, 68%);
  border: none;
  font-size: 22px;
  color: white;
  font-weight: 700;
  padding: 16px 45px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
}
.main-inner__button .button-block:hover {
  background-color: hsla(0deg, 100%, 68%, 0.72);
}
.main-inner__button .button-text {
  font-size: 19px;
  letter-spacing: 6.5px;
}

@media screen and (max-width: 1240px) {
  .title-black {
    font-size: 5px;
  }
  .main-inner__powerful {
    font-size: 42px;
  }
  .main-inner__button {
    margin-top: 40px;
  }
  .main-inner__paragraph {
    margin-top: 20px;
  }
  .button-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 850px) {
  .hamburger {
    display: flex;
    align-self: center;
  }
  .hambu {
    display: block;
  }
  .close {
    align-self: center;
  }
  .nav-logo {
    min-width: 30px;
    height: 30px;
  }
  .header-inner {
    align-self: center;
  }
  .main-inner__powerful {
    font-size: 35px;
  }
  .main {
    background-position: center top;
    background-size: auto 45%;
  }
  .main-inner__powerful .powerful-title {
    line-height: 4rem;
  }
  .paragraph {
    font-size: 19px;
  }
  .nav-block {
    position: absolute;
    left: 50%;
    transform: translate(-47%, 15%);
    display: none;
    margin-top: 40px;
    box-shadow: 0px 11px 51px -10px rgba(0, 0, 0, 0.51);
  }
  .nav-block__list {
    flex-direction: column;
    gap: 24px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
  }
  .nav-block__list .circle {
    border-radius: 0px;
    width: 100%;
    height: 1px;
  }
  .header-inner {
    padding: 43px 0px;
    align-items: flex-start;
  }
  .main-inner {
    padding: 344px 0px 0px 0px;
    align-items: center;
  }
  .main-inner-block {
    display: flex;
    flex-direction: column;
  }
  .back {
    height: 398px;
  }
  .main-inner__button {
    gap: 15px;
  }
  .main-inner__button .button-block {
    padding: 13px 25px;
    font-size: 18px;
  }
  .main-inner__button .button-text {
    font-size: 15px;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 675px) {
  .main {
    background-position: 5vw top;
    background-size: auto 45%;
  }
  .main-inner__text .title {
    font-size: 18px;
  }
  .main-inner__text .title-black {
    font-size: 18px;
  }
  .main-inner__paragraph {
    margin-top: 10px;
  }
  .main-inner__powerful {
    margin-top: 10px;
  }
  .main-inner__powerful .powerful-title {
    line-height: 3.4rem;
  }
  .main-inner__button {
    margin-top: 30px;
  }
}
@media screen and (max-width: 470px) {
  .main-inner__powerful {
    font-size: 30px;
  }
  .nav-block__list {
    gap: 25px;
  }
  .nav-block {
    transform: translate(-50%, 15%);
  }
}